<div class="rw-projects">

    <button
        type="button"
        class="btn btn-block btn-primary"
        modal-href="project-new"
        modal-handler="vm.addProjectHandler"
    >Add Project</button>

    <hr/>

    <ul>

        <li ng-repeat="project in vm.projects">
            <a ui-sref="project.overview({ id: project.id })" class="project-link">
                {{ project.name }}
            </a>
            <btn-delete ng-click="vm.deleteProject( project.id )"></btn-delete>
        </li>

    </ul>

</div>