<div class="rw-asset">

    <h1 ng-if="vm.asset.id">Edit Asset #{{ vm.asset.id }}</h1>

    <hr/>

    <!-- Asset Editing Form -->
    <form class="form-horizontal">

        <div class="form-group">
            <label class="col-sm-2 control-label">Tags</label>
            <div class="col-sm-10">
                <multiselect
                    ng-if="vm.selected_tags"
                    ng-model="vm.selected_tags"
                    options="vm.tags"
                    id-prop="id"
                    display-prop="value">
                </multiselect>
            </div>
        </div>

        <local-inputs model="vm.asset" field="loc_description" title="Description"></local-inputs>

        <!-- TODO: Determine why this isn't appearing in the Django Roundware admin page? -->
        <!-- <local-inputs model="vm.asset" field="loc_alt_text" title="Alt Text"></local-inputs> -->

        <hr/>

        <!-- Note that we use vm.marker's attributes as the model here -->
        <div class="form-group">
            <label class="col-sm-2 control-label">Latitude</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="latitude" ng-model="vm.marker.lat">
            </div>
            <label class="col-sm-2 control-label">Longitude</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="longitude" ng-model="vm.marker.lng">
            </div>
        </div>

        <hr/>

        <!-- Leaflet map for dragging the marker around -->
        <leaflet
            height="400px"
            center="vm.leaflet.center"
            defaults="vm.leaflet.defaults"
            markers="vm.leaflet.markers"
        ></leaflet>

        <hr/>

        <!-- Save and Cancel buttons -->
        <div class="row">
            <div class="col-xs-6">
                <button type="button" class="btn btn-default"
                        ng-click="vm.cancel()">Cancel</button>

            </div>
            <div class="col-xs-6">
                <button type="submit" class="btn btn-block btn-primary"
                        ng-click="vm.save()" ng-disabled="vm.saving">Save</button>
            </div>
        </div>

    </form>

</div>