.rw-build-ui {

	#rw-tree-ui-groups {

	}

	#rw-tree-ui-items {

		.angular-ui-tree-placeholder {
			background: #f0f9ff;
			border: 2px dashed #bed2db;
			margin: 10px 0;
		}

		.angular-ui-tree-nodes .angular-ui-tree-nodes {
			padding-left: 30px;
		}

		.angular-ui-tree-node {
			margin: 10px 0;
		}

		// TODO: Separate handle into dedicated element?
		.angular-ui-tree-handle {
			background: #f8faff;
			border: 1px solid #dae2ea;
			color: #7c9eb2;
			padding: 10px 10px;
			margin: 10px 0;
		}

		.angular-ui-tree-handle:hover {
			color: #438eb9;
			background: #f4f6f7;
			border-color: #dce2e8;
		}

	}

}