<div class="rw-build-ui">

    <p>Select a UI Mode, add UI Groups to it, then use the <span class="glyphicon glyphicon-plus"></span> buttons to build the UI Item hierarchy. It helps to think of UI Groups as screens or prompts, with the UI Item tree representing available options as the users flow through those screens.</p>

    <hr/>

    <!-- UI Mode select -->
    <div class="form-group row">
        <div class="col-sm-2">
            <p class="form-control-static"><strong>Select UI Mode</strong></p>
        </div>
        <div class="col-sm-10">
            <div class="btn-group pull-right" data-toggle="buttons">

                <label class="btn btn-primary" ng-repeat="mode in vm.ui_modes" ng-class="{'active': vm.mode == mode.value}">
                    <input type="radio" ng-model="vm.mode" value="{{ mode.value }}"> {{ mode.label }}
                </label>

            </div>
        </div>
    </div>

    <hr/>

    <div class="row">

        <!-- UI Groups -->
        <div class="col-xs-6">

            <h1>Create UI Groups</h1>

            <hr/>

            <button type="button"
                class="btn btn-block btn-primary"
                modal-href="ui-group-new"
                modal-data="{ index: vm.groupTree.length + 1, ui_mode: vm.mode }"
            >Add UI Group</button>

            <!-- UI Group Tree -->
            <div id="rw-tree-ui-groups" ui-tree="vm.groupTreeOptions">

                <ol class="rw-ui-group-tree-nodes" ui-tree-nodes="" ng-model="vm.groupTree">
                    <li ng-repeat="group in vm.groupTree" ui-tree-node>

                        <div ui-tree-handle ng-class="'rw-index-' + group.index">

                            <!-- TODO: Use the button directive here? -->
                            <button type="button" data-nodrag
                                class="btn btn-xs btn-default btn-square pull-right"
                                modal-href="ui-items-add-to-group"
                                modal-data="{ ui_group: group }"
                            ><span class="glyphicon glyphicon-plus"></span></button>

                            <button type="button" data-nodrag
                                class="btn btn-xs btn-default btn-square pull-right"
                                modal-href="ui-group-edit"
                                modal-data="{ id: group.id }"
                            ><span class="glyphicon glyphicon-edit"></span></button>

                            <button type="button" data-nodrag
                                class="btn btn-xs btn-default btn-square pull-right"
                                ng-click="vm.deleteGroup( group )"
                            ><span class="glyphicon glyphicon-remove"></span></button>

                            <div class="label-group">Group {{ group.index }}</div>

                            <div class="label-name">{{ group.name }}</div>

                            <div class="label-category">Category: {{ group.tag_category.name }}</div>

                        </div>

                    </li>
                </ol>

            </div>

        </div>

        <!-- UI Items -->
        <div class="col-xs-6">

            <h1>Organize UI Items</h1>

            <hr/>

            <div id="rw-tree-ui-items" ui-tree="vm.itemTreeOptions">

                <ol class="rw-ui-item-tree-nodes" ui-tree-nodes="" ng-model="vm.itemTree">
                    <li ng-repeat="node in vm.itemTree" ui-tree-node ng-include="'ui-item-node.html'"></li>
                </ol>

            </div>

        </div>

    </div>


    <!-- Nested node template for UI Items -->
    <script type="text/ng-template" id="ui-item-node.html">

        <div ui-tree-handle ng-class="'rw-index-' + node.group.index">

            <a data-nodrag
                class="btn btn-default btn-xs btn-square btn-toggle"
                ng-if="node.nodes && node.nodes.length > 0"
                ng-click="toggle(this)"
            ><span
                class="glyphicon"
                ng-class="{
                    'glyphicon-chevron-right': collapsed,
                    'glyphicon-chevron-down': !collapsed
                }"
            ></span></a>

            <span ng-if="node.nodes && node.nodes.length < 1" class="btn-placeholder"></span>

            <span class="label-group">{{ node.group.index }}</span>

            <span class=>{{ node.tag.value }}</span>

            <button type="button" data-nodrag
                class="btn btn-xs btn-default btn-square pull-right"
                ng-click="vm.deleteItem( node )"
            ><span class="glyphicon glyphicon-remove"></span></button>

            <button type="button" data-nodrag
                class="btn btn-xs btn-default btn-square pull-right"
                modal-href="ui-items-add-to-item"
                modal-data="{ parent_ui_item: node }"
                ng-show="node.group.index < vm.max_index"
            ><span class="glyphicon glyphicon-plus"></span></button>

        </div>

        <ol ui-tree-nodes=""
            ng-model="node.nodes"
            data-parent-id="{{ node.id }}"
            ng-class="{hidden: collapsed}"
            class="rw-ui-item-tree-nodes"
        ><li
            ui-tree-node
            ng-repeat="node in node.nodes"
            ng-include="'ui-item-node.html'"
        ></li></ol>

    </script>

</div>
