<div class="rw-assets">

    <button class="btn btn-block btn-primary" ui-sref="project.asset-new()">Add New Asset</button>

    <hr/>

    <!-- Assets Table -->
    <table st-table="vm.displayed.assets" st-safe-src="vm.assets" class="table table-striped">
        <colgroup>
            <col width="42">
            <col width="42">
            <col width="60">
            <col>
            <col>
            <col width="160">
            <col width="60">
            <col width="45">
        </colgroup>
        <thead>
            <tr>
                <th st-sort="id" st-sort-default="true">ID</th>
                <th></th>
                <th st-sort="audio_length_in_seconds">Size</th>
                <th st-sort="filename">File</th>
                <th>Tags</th>
                <th st-sort="created">Created</th>
                <th st-sort="submitted"><abbr title="Submitted?">Sub?</abbr></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in vm.displayed.assets">
                <td>{{ row.id }}</td>
                <td class="text-center">

                    <span
                        class="glyphicon"
                        ng-class="{
                            'glyphicon-headphones': row.media_type == 'audio',
                            'glyphicon-picture': row.media_type == 'photo',
                            'glyphicon-facetime-video': row.media_type == 'video',
                            'glyphicon-text-size': row.media_type == 'text',
                        }"
                    ></span>

                </td>
                <td ng-if="row.media_type == 'audio'">
                    <!-- Feel free to prepend `HH:` to the format string to show hours -->
                    {{ row.audio_length_in_seconds | secondsToDateTime | date : 'mm:ss' }}
                </td>
                <td ng-if="row.media_type != 'audio'">
                    <!-- IDEA: Show filesize i/o length for image assets? -->
                </td>
                <td ng-if="row.media_type == 'audio'" class="no-ellipsis">

                    <audio controls preload="none">
                        <source ng-src="{{ vm.getFileUrl( row.file ) }}">
                    </audio>

                </td>
                <td ng-if="row.media_type != 'audio'" class="no-ellipsis">

                    <a
                        href="{{ vm.getFileUrl( row.file ) }}"
                        title="{{ row.filename }}"
                        target="_blank"
                    >{{ row.filename }}</a>

                </td>
                <td>
                    <!-- Use span and {{ $last ? '' : ', ' }} if you want the tags on one line -->
                    <div ng-repeat="tag_id in row.tag_ids">
                        {{ vm.getTag( tag_id ).value }}
                    </div>
                </td>
                <!-- Assets created through the Django admin panel have milliseconds -->
                <td>{{ row.created | date : 'yyyy-MM-dd HH:mm:ss' }}</td>
                <!-- We are populating the table using cache.clean, but here, we need to target cache.dirty -->
                <td>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                ng-model="vm.getAsset( row.id ).dirty.submitted"
                                ng-change="vm.toggleSubmitted( row.id, vm.getAsset( row.id ).dirty.submitted )">
                        </label>
                    </div>
                </td>
                <td class="no-ellipsis"><btn-edit ui-sref="project.asset-edit({ asset_id: row.id })"/></td>
            </tr>
        </tbody>
    </table>

</div>
