<div class="rw-assets">

    <button class="btn btn-block btn-primary" ui-sref="project.asset-new()">Add New Asset</button>

    <hr/>

    <!-- Assets Table -->
    <table st-table="vm.displayed.assets" st-safe-src="vm.assets" class="table table-striped">
        <colgroup>
            <col width="42">
            <col width="42">
            <col>
            <col>
            <col width="160">
            <col width="45">
        </colgroup>
        <thead>
            <tr>
                <th st-sort="id" st-sort-default="true">ID</th>
                <th></th>
                <th st-sort="filename">File</th>
                <th>Tags</th>
                <th st-sort="created">Created</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in vm.displayed.assets">
                <td>{{ row.id }}</td>
                <td class="text-center">

                    <a
                        href="{{ vm.getFileUrl( row.file ) }}"
                        title="{{ row.filename }}"
                        target="_blank"
                    ><span
                        class="glyphicon"
                        ng-class="{
                            'glyphicon-headphones': row.media_type == 'audio',
                            'glyphicon-picture': row.media_type == 'image'
                        }"
                    ></span></a>

                </td>
                <td class="no-ellipsis">

                    <audio controls>
                        <source ng-src="{{ vm.getFileUrl( row.file ) }}">
                    </audio>

                </td>
                <td>
                    <!-- Use span and {{ $last ? '' : ', ' }} if you want the tags on one line -->
                    <div ng-repeat="tag_id in row.tag_ids">
                        {{ vm.getTag( tag_id ).value }}
                    </div>
                </td>
                <td>{{ row.created }}</td>
                <!-- TODO: Replace w/ ui-sref to edit asset form -->
                <td class="no-ellipsis"><btn-edit ui-sref="project.asset-edit({ asset_id: row.id })"/></td>
            </tr>
        </tbody>
    </table>

</div>
