<div class="rw-speakers">

    <table st-table="vm.displayed.speakers" st-safe-src="vm.speakers" class="table table-striped">
        <thead>
            <tr>
                <th width="45"></th>
                <th st-sort="id" st-sort-default="true">ID</th>
                <th>Active</th>
                <th>Code</th>
                <th colspan="2">Volume</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in vm.displayed.speakers">
                <td>
                    <a
                        href="javascript:;"
                        class="btn btn-sm btn-default btn-square btn-map"
                        style="background-color: {{ vm.getColor( row.id ) }};"
                        ng-click="vm.setCurrentSpeaker( row.id )"
                    ><span class="glyphicon glyphicon-map-marker"></span></a>
                </td>
                <td>{{ row.id }}</td>
                <td>{{ row.activeyn }}</td>
                <td>{{ row.code }}</td>
                <td>{{ row.minvolume }}</td>
                <td>{{ row.maxvolume }}</td>
            </tr>
        </tbody>
    </table>

    <hr/>

    <p ng-if="vm.currentGroup">
        Currently editing <strong>Speaker #{{ vm.currentGroup.speaker_id }}</strong>
    </p>

    <p ng-if="!vm.currentGroup">
        Draw a shape on the map to add a new speaker, or click the <span class="glyphicon glyphicon-edit"></span> button to edit existing speakers.
    </p>

    <!-- Leaflet map for adding new speakers -->
    <leaflet
        id="map"
        height="400px"
        center="vm.leaflet.center"
    ></leaflet>

</div>