<form class="form-horizontal">

    <div ng-show="!vm.tags">
        <p>Loading tags...</p>
    </div>

    <div ng-show="vm.tags && vm.tags.length < 1">
        <p>There's no tags left to nest. Try adding more tags to the "{{ vm.category.name }}" category.</p>
    </div>

    <div ng-show="vm.tags.length > 0">

        <div class="form-group text-center"><strong>Select UI Items to Add</strong></div>

        <div class="checkbox" ng-repeat="tag in vm.tags">
            <label>
                <input type="checkbox" value="{{tag.id}}"
                 check-list="vm.selected_tag_ids" check-integer
                > [{{ tag.id }}] {{tag.value}}
            </label>
        </div>

    </div>

    <hr/>

    <div class="row">
        <div class="col-xs-6">
            <button type="button" class="btn btn-default"
                    ng-click="vm.cancel()">Cancel</button>

        </div>
        <div class="col-xs-6">
            <button type="submit" class="btn btn-block btn-primary"
                    ng-click="vm.save()" ng-disabled="vm.saving">Save</button>
        </div>
    </div>

</form>

