<!-- Audiotrack Editing Form -->
<form class="form-horizontal rw-modal-audiotrack">

    <table>
        <tr>
            <th></th>
            <th>Min</th>
            <th>Max</th>
        </tr>
        <tr>
            <th>Volume</th>
            <td><input type="text" class="form-control" ng-model="vm.audiotrack.minvolume"></td>
            <td><input type="text" class="form-control" ng-model="vm.audiotrack.maxvolume"></td>
        </tr>
        <tr>
            <th>Duration</th>
            <td><input type="text" class="form-control" ng-model="vm.audiotrack.minduration"></td>
            <td><input type="text" class="form-control" ng-model="vm.audiotrack.maxduration"></td>
        </tr>
        <tr>
            <th>Dead Air</th>
            <td><input type="text" class="form-control" ng-model="vm.audiotrack.mindeadair"></td>
            <td><input type="text" class="form-control" ng-model="vm.audiotrack.maxdeadair"></td>
        </tr>
        <tr>
            <th>Fade-In</th>
            <td><input type="text" class="form-control" ng-model="vm.audiotrack.minfadeintime"></td>
            <td><input type="text" class="form-control" ng-model="vm.audiotrack.maxfadeintime"></td>
        </tr>
        <tr>
            <th>Fade-Out</th>
            <td><input type="text" class="form-control" ng-model="vm.audiotrack.minfadeouttime"></td>
            <td><input type="text" class="form-control" ng-model="vm.audiotrack.maxfadeouttime"></td>
        </tr>
        <tr>
            <th>Pan Pos.</th>
            <td><input type="text" class="form-control" ng-model="vm.audiotrack.minpanpos"></td>
            <td><input type="text" class="form-control" ng-model="vm.audiotrack.maxpanpos"></td>
        </tr>
        <tr>
            <th>Pan Dur.</th>
            <td><input type="text" class="form-control" ng-model="vm.audiotrack.minpanduration"></td>
            <td><input type="text" class="form-control" ng-model="vm.audiotrack.maxpanduration"></td>
        </tr>
    </table>

    <hr/>

    <div class="row">
        <div class="col-xs-6">
            <button type="button" class="btn btn-default"
                    ng-click="vm.cancel()">Cancel</button>

        </div>
        <div class="col-xs-6">
            <button type="submit" class="btn btn-block btn-primary"
                    ng-click="vm.save()" ng-disabled="vm.saving">Save</button>
        </div>
    </div>

</form>
